doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")

		style.
			body { 
				background: #94daf8;
			}
			.jumbotron{
				background: #313d4d;
				color: #faf5be;
			}
			.card-text {
				background: #bee7ed;
				color: #5e9290;
			}
			.card-balance {
				font-size: 4em;
				color: #278585;
			}
			.card-icon {
				color: #7a4406;
				background: #e37f65;
			}
			.icon {
				font-size: 9em;
			}
			.piggy-bank-icon {
				color: #e37f65;
				background: #313d4d;
			}
			.piggy-bank-text {
				background: #81bfbc;
				color: #288584;
			}
			.savings-balance {
				color: #313d4d;
				font-size: 4em;
			}
			@media (min-width: 768px){
				.left-block { 
					border-top-left-radius:5px;
					border-bottom-left-radius: 5px;
					margin-left: 1rem!important;
				}
				.right-block {
					border-top-right-radius:5px;
					border-bottom-right-radius: 5px;
					margin-right: 1rem!important;
				}
			}
	body 
		.container
			.jumbotron.mt-5
				h1.display-4 Hei du!
			.row
				.col.text-center.card-text.p-3.left-block
					h6 Du har
					h1.display-4.card-balance #{account[1].balance}kr
					h6 på bankkortet
				.col.text-center.card-icon.icon.right-block
					i.far.fa-credit-card
			.row.mt-3
				.col.text-center.icon.piggy-bank-icon.left-block
					i.fas.fa-piggy-bank
				.col.p-3.text-center.piggy-bank-text.right-block
					h6 Du har spart
					h1.display-4.savings-balance #{account[0].balance}kr
					h6 Hurra!
