doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")

		style.
			body {
				background: #b3a2a3;
			}
	body 
		p.text-center pIgGi
		div.container
			h4 Kontodetaljer
			table.table.table-dark
				tr
					th Konto
					th Saldo
				tbody
					tr
						td #{account.name}
						td #{account.balance}